@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Barlow Semi Condensed", sans-serif;
    font-size: 1.3rem;
}

img {
    border-radius: 100%;
    float: left;
    margin-right: 1rem;
}

.profile-details {
    padding: 1.1rem 0;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}
